# build folder
build/*
!build/.gitkeep

# binary folder
out/

# compile commands for clangd
compile_commands.json

# vscode nonsense
.vscode/
.cache/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
